body {
    display: flex;
    width: 100vh;
    height: 100vh;
    text-align: center;
}

.ContainerImg {
    
    height: 300px;
    text-align: center;
    padding: 12px;
}

.perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.links{
    display: flex;
    text-align: center;
    flex-direction: row;
    color: black;
    justify-content: space-around;
}